<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiAS00yki9sHtlkZwH6IAMGB_3o33Q15Q</string>
	<key>GCM_SENDER_ID</key>
	<string>673739515848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyPrayer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>daily-prayer-5b8ff</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-prayer-5b8ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673739515848:ios:f688e448cba33cd79602fd</string>
</dict>
</plist>